<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cityexplorer">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/title_activity_main"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CityExplorer"
        tools:targetApi="31">

        <!--
        Add a meta-data element to embed the version of Google Play services that the app
        was compiled with.
        See - https://developers.google.com/maps/documentation/android-sdk/map-with-marker#check_your_android_manifest
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!--
        The API key for Google Maps-based APIs.
        Add a meta-data element specifying your API key.
        See - https://developers.google.com/maps/documentation/android-sdk/map-with-marker#check_your_android_manifest
        -->

        <activity
            android:name=".ui.maps.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps"
            android:theme="@style/Theme.CityExplorer.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.CityExplorer.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>